@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
:root {
  --primary-color: #ff9900;
  --secondary-color: #ffd19d;
  --background-color: #f7f7f7;
}

* {
  /* This affects everything(?)  */
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "poppins";
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

span {
  color: var(--primary-color);
}

p {
  color: #fff;
}

button {
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 40px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  max-width: 400px;
  border-radius: 4px;
  background: #fc4a1a;
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  transition: all 0.3s ease;
}

a, .main__btn {
  justify-content: center;
  text-decoration: none;
  display: flex;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  width: 100%;
}

.main__img--card {
  margin: auto;
  height: 240px;
  width: 240px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #a0a0a0 0%, rgba(0, 0, 0, 0.9725490196) 100%);
}

.highlight {
  border-bottom: 6px solid rgb(255, 187, 60);
}

.navbar {
  background: var(--background-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 0px 0px;
  /* This controls the navbar as a whole, the containeherr. padding pushes text off the sides at  */
}
.navbar .navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar #navbar__logo {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  font-size: 1.15em;
  text-align: left;
  cursor: pointer;
  margin: auto 0px;
  padding: 0 15px;
  max-width: 200px;
}
.navbar .navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  width: 100%;
  position: absolute;
  top: -1000%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: -1;
  background: #e9e9e9;
}
.navbar .navbar__menu.active {
  background: #e9e9e9;
  top: 100%;
  opacity: 1;
  transition: all 0.35s ease;
  z-index: 999;
  height: 60vh;
  font-size: 1.6rem;
  margin-left: -15px;
}
.navbar .navbar__item {
  list-style-type: none;
}
.navbar .navbar__links {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}
.navbar .navbar__links:hover {
  color: rgb(255, 187, 60);
  transition: all 0.3s ease;
}
.navbar .navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: #000000;
}
.navbar .navbar__toggle .bar {
  display: block;
  cursor: pointer;
}
.navbar #mobile-menu {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(5%, 20%);
  z-index: 999;
}
.navbar #mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
.navbar #mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.navbar #mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hero {
  background: url("/media/bgtest.webp") no-repeat center center fixed;
  background-size: cover;
  padding: 150px 0;
  margin-top: 80px;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.hero .hero__heading {
  font-size: 30px;
  color: #fff;
}
.hero .hero__description {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 675;
  color: #fff;
}

.services {
  background: #ebebeb;
}
.services h1 {
  text-align: center;
  color: var(--primary-color);
  font-size: 2em;
  padding-top: 40px;
}
.services .services__container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.services .services__row {
  margin-top: 20px;
  padding: 0 30px;
}
.services .services__row h2 {
  margin-top: 20px 0;
  text-align: center;
  color: var(--primary-color);
}
.services .services__row p {
  margin-top: 40px;
  color: #000000;
}
.services .services__row button {
  padding: 15px 15px;
}
.services .main__img--card {
  display: none;
}

.main {
  background: var(--background-color);
}
.main .main__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0px;
}
.main .fa-car-side {
  font-size: 7rem;
}
.main .main__img--container {
  margin-bottom: 40px;
}
.main .main__content {
  padding: 0 50px;
}
.main .main__content h1 {
  text-align: center;
  color: var(--primary-color);
}
.main .main__content h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 1.2em;
  color: var(--primary-color);
}
.main .main__content li {
  margin-top: 25px;
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: 400;
}

.contact {
  background: #ebebeb;
  background-size: cover;
}
.contact .contact__container {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}
.contact .contact__info {
  margin: 20px;
  text-align: center;
}
.contact p {
  margin-top: 15px;
  color: #000000;
}
.contact a {
  color: var(--primary-color);
  font-size: 1em;
}
.contact button {
  padding: 20px;
  margin-top: 20px;
}
.contact .contact__cta {
  margin: 20px;
  text-align: center;
}
.contact .contact__content label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
}
.contact .contact__content input, .contact .contact__content textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
  color: #0c0c0c;
}
.contact .contact__content input[type=submit] {
  cursor: pointer;
}
.contact .contact__content form {
  display: inline-block;
  max-width: 600px;
  width: 99%;
}
.contact .contact__content span {
  color: var(--primary-color);
}
.contact .main__img--card {
  margin: auto;
  height: 250px;
  width: 250px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to right, #a0a0a0 0%, rgba(0, 0, 0, 0.9725490196) 100%);
}
.contact .main__img--card .fa-users {
  font-size: 5rem;
}

.footer {
  background: #e9e9e9;
}
.footer .footer__container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__container a, .footer .footer__container h2 {
  text-align: center;
  margin-top: 20px;
  color: #000000;
  font-weight: 800;
}
.footer .footer__container .footer__logo {
  color: #0c0c0c;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}
.footer .footer__container .social__icons {
  display: flex;
  flex-direction: space-between;
  text-align: center;
}

@media screen and (min-width: 650px) {
  .main__content {
    padding: 0 50px !important;
  }
  .contact__content {
    padding: 0px 50px !important;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    position: sticky;
  }
  .navbar .navbar__toggle {
    display: none;
  }
  .navbar .navbar__menu {
    flex-direction: row;
    position: static;
    top: 100%;
    background: var(--background-color);
  }
  .hero {
    margin-top: 0px;
  }
  .hero .hero__heading {
    font-size: 2.4em;
  }
  .hero .hero__description {
    font-size: 1.7em;
  }
  .hero button {
    font-size: 1.5em;
  }
  .main__container {
    display: flex !important;
    flex-direction: row;
  }
  .main__container .main__img--container {
    flex: 1;
  }
  .main__container .main__img--container .main__img--card {
    height: 325px !important;
    width: 325px !important;
  }
  .main__container .main__content {
    flex: 1;
    padding: 0 20px !important;
  }
  .services .services__container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .services .services__container .services__row {
    padding: 0 20px !important;
  }
  .services .services__container .services__row .main__img--card {
    display: flex;
    font-size: 6em;
  }
  .services .services__container .services__row button {
    width: 200px;
  }
}
@media screen and (min-width: 1080px) {
  .main__container {
    padding: 70px 50px !important;
  }
  .services h1 {
    padding-top: 70px;
  }
  .services__container {
    padding: 50px 50px 70px 50px !important;
  }
  .contact__container {
    flex-direction: row !important;
  }
  .contact__container .main__img--container {
    display: block;
    margin: auto;
    width: 30%;
  }
  .contact__container .contact__content {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */